/***** Goals *****/

.goals {
    margin-left: 3rem;
    color: #737373;
}

.goals__header {
    margin-left: 8rem;
    font-family: 'Crimson Text' , serif;
    font-size: $font-size-base * 1.5;
}

.goals__content {
    margin-left: 25rem;
    font-size: $font-size-base * 1.9;
    font-family: 'Crimson Text' , serif;
    line-height: $line-height-base * 1.5;
}
