/****** Hero ******/
.hero{
    margin-bottom: 15rem;
    margin-top: 12rem;

}

.hero__content {
    text-align: right;
    margin-right: 15rem;
    font-family: 'Crimson Text' , serif;
    color: #737373;

    h2{
        font-size: $font-size-base * 3;
        font-weight: 100;
        margin-right: 15rem;
    }

    p {
        font-size: $font-size-base * 2;
        margin-top: -3rem;
    }
}
